.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #5B626D;
  color: #ffffff;
  font-size: 16px;
}
  body h1, h2, h3, h4, h5 {
    color: #ffffff;
  }
  body h5 {
    padding-top: 10px;
  }
  body a {
    color: #090c11;
  }
    body a:hover {
      color: #8D9091;
    }


/*******************************/
/* HOME SCREEN */
/*******************************/

/* Set background image for home page only */
.home-bg {
  background-image: url(../images/bg_mid.png);
  background-repeat: no-repeat;
  background-attachment: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Default text spacing */
.home_header1 {
  text-align: center;
  font-size: 10.5em;
  margin-top: 10%;
}
.home_header2 {
  text-align: center;
  font-size: 6em;
  margin-top: -4.5%;
}
.home_header3 {
  text-align: center;
  font-size: 5.8em;
  margin-top: -2.5%;
}
.home_line {
  margin-top: -2.5%;
  height: 100%;
  width: 35%;
  display: inline-block;
}
/* Home screen media conditions */
@media screen and (max-width: 1180px) {
  .home-bg {
    /* smaller bg for mobile loading */
    background-image: url(../images/bg_mid.png);
    background-size: auto;
  }
  .home_header1 {
    font-size: 8.5em;
  }
  .home_header2 {
    font-size: 4.8em;
  }
  .home_header3 {
    font-size: 4.8em;
  }
}
@media screen and (max-width: 920px)  {
  .home_header1 {
    font-size: 7.5em;
  }
  .home_header2 {
    font-size: 4em;
  }
  .home_header3 {
    font-size: 4.2em;
  }
}
@media screen and (max-width: 800px)  {
  .home_header1 {
    font-size: 5.5em;
  }
  .home_header2 {
    font-size: 3em;
  }
  .home_header3 {
    font-size: 3em;
  }
  .home_line {
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  .home-bg {
    /* smaller bg for mobile loading */
    background-image: url(../images/bg_mobile.png);
  }
  .home_header1 {
    font-size: 3.5em;
  }
  .home_header2 {
    font-size: 2em;
    margin-top: -3.5%;
  }
  .home_header3 {
    font-size: 2em;
    margin-top: -1.5%;
  }
  .home_line {
    width: 35%;
    margin-top: -1.5%;
  }
}

/* Side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/*******************************/
/* NAVIGATION BAR */
/*******************************/
.header {
  margin-bottom: 10px;
  /* No header padding, supplement navbar with it instead */
  padding-left: 0px;
  padding-right: 0px;
}
  .header .navbar {
    background-color: #394659;
    border: none;
  }
    .header .navbar .navbar-brand {
      color: white;
      height: 55px;
      font-size: 22px;
      line-height: 22px;
    }
    .header .navbar .nav a {
      padding: 0px;
      margin: 15px;
      color: white;
      font-size: 15px;
      line-height: 22px;
    }
      .header .navbar .nav a:hover {
        color: #8D9091;
      }

.slashes {
  margin-top: 15px;
  visibility: hidden;
}


/*******************************/
/* CONTAINER FOR PAGE CONTENT */
/*******************************/
.container-narrow > hr {
  margin: 30px 0;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
}
  .container .itemTitleNoDate {
    padding-bottom: 22px;
    font-size: 20px;
    font-style: bold;
  }
  .container .itemTitle {
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-size: 22px;
    font-style: bold;
  }
  .container .itemDate {
    padding-bottom: 15px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .container .description {
    /* cdd3dd */
    color: #dbe0e8;
    padding-bottom: 10px;
  }
    .container .description h4 {
      font-size: 20px;
    }

    .container .description .pic {
      margin-top: 20px; margin-left: 10%; width: 80%
    }

  .container .filter li {
    display: inline-block;
    padding-right: 30px;
  }
    .container .filter li a {
      color: white;
    }

  .container .left .description {
    padding-bottom: 10px;
  }
    .container .left .description h4 {
      font-size: 20px;
    }

  .container .right .buttons {
    text-align: center;
    padding: 10px 0 15px 0;
  }
    .container .right .buttons button {
      font-size: 16px;
      margin: 5px 10px 5px 10px;
      background-color: #394659;
      border: none;
    }
      .container .right .buttons button:hover {
        background-color: #455568;
      }

  .container .right .pictures .thumb {
    width: 29%;
    /* box width */
    float: left;
    margin: 2%;
    height: 0;
    padding-bottom: 29%;
    /* box height, if pic is tall enough to fill */
    overflow: hidden;
  }


/*******************************/
/* ABOUT PAGE */
/*******************************/
.aboutPara {
  margin-top: 40px;
  padding-left: 30px;
}
.aboutPic {
  width: 85%;
  margin-left: 15%;
  max-height: 540px;
  max-width: 360px;
}

/* For email submission form */
form { 
  width: 400px;
  padding: 1em;
  padding-left: 30px;
}
  form div + div {
    margin-top: 1em;
  }

label {
  display: inline-block;
  text-align: right;
}
input {
  font: 1em sans-serif;
  margin-left: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  color: black;
}

#name {
  margin-left: 22px;
  width: 280px;
}
#email {
  margin-left: 18px;
  width: 280px;
}
#message {
  width: 280px;
}

textarea {
  font: 1em sans-serif;
  font-size: 14px;
  width: 275px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  color: black;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  /* To allow users to resize any textarea vertically
     It does not work on every browser */
  resize: vertical;
}

.formButton {
  padding-left: 75px;
  /* same size as the label elements */
  margin-left: .5em;
  color: black;
  font-weight: normal;
}
/* Social media bar on About page */
.contactbar {
  min-width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#logos {
  text-align: center;
  list-style-type: none;
  height: 50px;
  padding: 0;
  margin: 0 0 0 0;
  background-position: center;
  padding-top: 8px;
}
  #logos li {
    position: relative;
    display: inline-block;
    padding: 0;
    line-height: 20px;
    width: 18%;
  }
    #logos li a {
      display: block;
      padding: 0;
      color: #FFFFFF;
      text-decoration: none;
    }
  #logos li img {
    max-width: 35px;
  }







/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Show slashes when bigger than a mobile view */
  .slashes {
    visibility: visible;
  }

}



/*******************************/
/* GRID FOR PORTFOLIO ITEMS */
/*******************************/


.group {
  width: 210px;
  height: 210px;
  overflow: hidden;
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-right: 3%;
  margin-bottom: 3%;
  zoom: 1;
  /* For IE 6/7 */
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.span_1_of_4 {
  width: 23.7%;
}

.col {
  display: inline;
  margin: 1% 1.2% 1% 0;
  height: 0;
  overflow: hidden;
}
.col:first-child {
  margin-left: 0;
}

/* Makes image resize when page does */
.item_img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.item {
  text-decoration: none !important;
}

.item_descr {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  bottom: 0px;
  display: flex;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
  .item_descr h1 {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .item_descr h2 {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -5px;
  }

/* 102% before IE/Firefox fix */
.col:hover .item_descr {
  bottom: 210px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
@media only screen and (max-width: 480px) {
  .span_1_of_4 {
    width: 100%;
  }
}


/********************************/
/* ISOTOPE PORTFOLIO ITEM BOXES */
/********************************/
.portfolioFilter {
  margin-bottom: 25px;
}
  .portfolioFilter a {
    margin-right: 15px;
    margin-left: -15px;
    color: #ffffff;
    font-size: 16px;
  }
    .portfolioFilter a input {
      margin-right: 5px;
      visibility: hidden;
    }

    .portfolioFilter a:hover {
      color: grey;
      text-decoration: none;
    }
    .portfolioFilter a.current {
      color: #ffffff;
      text-decoration: none;
    }


/* Fancy radio buttons */
.check{
  display: inline-block;
  position: relative;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 2px;
  left: 18px;
  z-index: 5;
  transition: border .1s linear;
  -webkit-transition: border .1s linear;
}

a:hover .check {
  border: 3px solid grey;
}
a:hover .currentButton {
  border: 3px solid #FFFFFF;
}

.check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  margin: auto;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
}

a .currentButton {
  border: 3px solid #FFFFFF;
}
a .currentButton:hover {
  border: 3px solid #FFFFFF;
}

a .currentButton::before{
  background: #FFFFFF;
  position: relative;
  top: -2px;
  left: -2px;
}
/* End fancy radio buttons */


.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}




/*******************************/
/* SLIDESHOW */
/*******************************/
.tooltip {
  background: rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 80px;
  position: absolute;
  bottom: 30px;
  left: -300px;
  transition: all 0.3s ease-in-out;
}
  .tooltip h1 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    line-height: 50px;
    padding: 0 0 0 10px;
  }
  .tooltip h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    padding: 0 0 0 10px;
  }

.rslides:hover .tooltip {
  left: 0;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 80%;
  /*height: 450px;*/
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  .rslides img {
    display: block;
    height: auto;
    /*float: left;
    width: 100%;*/
    margin-left: 5%;
    width: 90% !important;
    border: 0;
  }

.rslidesMin img {
  display: block;
  height: auto;
  margin-left: 12%;
  width: 76% !important;
  border: 0;
}

.rslides_container {
  padding-top: 50px;
  position: relative;
  float: left;
  width: 100%;
}

.centered-btns_nav {
  z-index: 10;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 50%;
  left: 5%;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -45px;
}
  .centered-btns_nav:active {
    opacity: 1.0;
  }

  .centered-btns_nav:focus {
    outline: none;
  }

  .centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 5%;
  }

.centered-btns_tabs {
  margin-top: 10px;
  text-align: center;
  padding-left: 0;
}
  .centered-btns_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
  }

  .centered-btns_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    width: 9px;
    height: 9px;
  }

.centered-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}
